In [17]:
import pandas as pd

In [18]:
df1 = pd.read_excel("data\\附件1.xlsx").drop(["单品名称", "分类编码"], axis=1)
df1.head()

              单品编码 分类名称
0  102900005115168  花叶类
1  102900005115199  花叶类
2  102900005115625  花叶类
3  102900005115748  花叶类
4  102900005115762  花叶类

In [19]:
df2 = pd.read_csv("data\\附件2.csv")
df2.head()

         销售日期        扫码销售时间             单品编码  销量(千克)  销售单价(元/千克) 销售类型 是否打折销售
0  2020-07-01  09:15:07.924  102900005117056   0.396         7.6   销售      否
1  2020-07-01  09:17:27.295  102900005115960   0.849         3.2   销售      否
2  2020-07-01  09:17:33.905  102900005117056   0.409         7.6   销售      否
3  2020-07-01  09:19:45.450  102900005115823   0.421        10.0   销售      否
4  2020-07-01  09:20:23.686  102900005115908   0.539         8.0   销售      否

In [13]:
df3 = pd.read_excel("data\\附件3.xlsx")
df3.columns = ["销售日期", "单品编码", "批发价格(元/千克)"]
df3.head()

        销售日期             单品编码  批发价格(元/千克)
0 2020-07-01  102900005115762        3.88
1 2020-07-01  102900005115779        6.72
2 2020-07-01  102900005115786        3.19
3 2020-07-01  102900005115793        9.24
4 2020-07-01  102900005115823        7.03

In [14]:
df4 = pd.read_excel("data\\附件4.xlsx"#, sheet_name="Sheet1"
                    )
df4.columns = ["分类编码", "分类名称", "平均损耗值"]
df4.head()

         分类编码   分类名称  平均损耗值
0  1011010201    花菜类  15.51
1  1011010402  水生根茎类  13.65
2  1011010101    花叶类  12.83
3  1011010801    食用菌   9.45
4  1011010504    辣椒类   9.24

In [15]:
df1['单品编码'] = df1['单品编码'].astype(str)
df2['销售日期'] = df2['销售日期'].astype(str)
df2['单品编码'] = df2['单品编码'].astype(str)
df3['销售日期'] = df3['销售日期'].astype(str)
df3['单品编码'] = df3['单品编码'].astype(str)

In [16]:
df = df2.merge(df3, on=['销售日期', '单品编码'], how='left').drop(["销售类型", "是否打折销售"], axis=1)
df.head(10)

         销售日期        扫码销售时间             单品编码  销量(千克)  销售单价(元/千克)  批发价格(元/千克)
0  2020-07-01  09:15:07.924  102900005117056   0.396         7.6        4.32
1  2020-07-01  09:17:27.295  102900005115960   0.849         3.2        2.10
2  2020-07-01  09:17:33.905  102900005117056   0.409         7.6        4.32
3  2020-07-01  09:19:45.450  102900005115823   0.421        10.0        7.03
4  2020-07-01  09:20:23.686  102900005115908   0.539         8.0        4.60
5  2020-07-01  09:21:55.556  102900005117056   0.277         7.6        4.32
6  2020-07-01  09:21:56.536  102900005115779   0.338         8.0        6.72
7  2020-07-01  09:22:01.274  102900005117056   0.132         7.6        4.32
8  2020-07-01  09:22:01.476  102900005115779   0.213         8.0        6.72
9  2020-07-01  09:22:15.998  102900011008522   0.514         8.0        4.44

In [17]:
df_final1 = pd.merge(df, df1, on="单品编码", how="left")
df_final1.head()

,销售日期,扫码销售时间,单品编码,销量(千克),销售单价(元/千克),批发价格(元/千克),分类名称
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,4.32,辣椒类
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,2.10,花叶类
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,4.32,辣椒类
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,7.03,花叶类
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,4.60,花叶类

In [18]:
df_final = pd.merge(df_final1, df4, on="分类名称", how="left")
df_final.head()

,销售日期,扫码销售时间,单品编码,销量(千克),销售单价(元/千克),批发价格(元/千克),分类名称,分类编码,平均损耗值
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,4.32,辣椒类,1011010504,9.24
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,2.10,花叶类,1011010101,12.83
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,4.32,辣椒类,1011010504,9.24
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,7.03,花叶类,1011010101,12.83
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,4.60,花叶类,1011010101,12.83

In [19]:
def devide(df, name="分类名称"):
    # 获取分类特征的所有唯一值
    categories = df[name].unique()

    # 创建一个空的字典，用于存储划分后的DataFrame
    dfs_by_category = {}

    # 按分类特征划分DataFrame
    for category in categories:
        dfs_by_category[category] = df[df[name] == category]

    # 将每个划分后的DataFrame写入CSV文件
    for category, df_category in dfs_by_category.items():
        if name == "分类名称":
            csv_filename = f'data_2\{category}.csv'  
        else:
            csv_filename = f'data_2\{category}.csv'  
        df_category.to_csv(csv_filename, encoding='gbk', index=False)

In [20]:
devide(df_final)

<br><br><br><br><br><br><br><br><br><br><br><br>

In [21]:
df4 = pd.read_excel("data\\附件4.xlsx", sheet_name="Sheet1")
df4.head()

              单品编码     单品名称  损耗率(%)
0  102900005115168     牛首生菜    4.39
1  102900005115199    四川红香椿   10.46
2  102900005115250  西峡花菇(1)   10.80
3  102900005115625   本地小毛白菜    0.18
4  102900005115748      白菜苔    8.78